:root{
    --colors-bg: white;
    --colors-bg-highlight: darkgray;
    --colors-bg-alternate: darkslategray;
    --colors-font: black;
    --colors-font-emphasis: orange;
    --fontsize-small: 0.75rem;
    --fontsize-regular: 1.25rem;
    --fontsize-large: 1.5rem;
    --fontsize-xlarge: 1.75rem;
    --fontsize-huge: 2rem;
}

body{
    margin-bottom: 12rem;
}

header{
    position: sticky;
    top: 0;
    background-color: var(--colors-bg);
    padding-bottom: 2px;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.header-nav-item{
    height: 1.5rem;
    width: 8rem;
    list-style: none;
    text-align: center;
}

.header-nav-link{
    font-size: var(--fontsize-large);
    color: var(--colors-font);
    transition: 0.2s;
}

.header-nav-link:hover{
    font-size: var(--fontsize-xlarge);
}

main{
    width: 95%;
    margin: auto;
}

.page-menu{
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 2;
    color: var(--colors-bg);
    background-color: var(--colors-bg-alternate);
    padding: 1rem;
}

.page-menu-h1{
    margin: 0;
}

.page-menu ol{
    margin: 0 0 0 2rem;
    padding: 0;
}

.page-menu-links{
    margin: 0 1rem 0 0.5rem;
    font-size: var(--fontsize-regular);
    color: var(--colors-font-emphasis);
}

.page-icon{
    max-width: 10rem;
}

.item-section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item-article{
    margin-bottom: 1rem;
    border-top: solid var(--colors-bg-highlight) 2px;
}

.item-image-caption{
    color: var(--colors-bg-alternate);
    font-size: var(--fontsize-small);
}

.code{
    color: var(--colors-font-emphasis);
    background-color: var(--colors-bg-alternate);
}

.inline-link{
    color: var(--colors-font);
    text-decoration: underline var(--colors-font-emphasis);
}

#ienumerable-image{
    height: 1.25rem;
    max-width: 100%;
}

#ienumerable-image2{
    height: 5.25rem;
}

#linq-sql-image{
    height: 5rem;
}

#object-instantiation-image{
    height: 12rem;
}

#testability-dogs-image{
    height: 10rem;
}

#multithreading-image{
    height: 22rem;
}