:root{
    --colors-bg-base: rgba(0, 0, 0, 1);
    --colors-bg-muted: rgba(20, 20, 20, 0.8);
    --colors-bg-header: rgba(30, 30, 30, 1);
    --colors-bg-offset: rgba(122, 122, 122, 0.8);
    --colors-bg-alternate: rgba(20, 40, 40, 1);
    --colors-font: rgba(220, 220, 220, 1);
    --colors-font-muted: rgba(170, 170, 100, 0.8);
    --colors-font-emphasis: rgba(255, 165, 0, 0.8);
    --colors-font-links: rgba(160, 160, 160, 0.9);
    --fontsize-small: 0.75rem;
    --fontsize-regular: 1.25rem;
    --fontsize-large: 1.5rem;
    --fontsize-xlarge: 1.75rem;
    --fontsize-huge: 2rem;
}

@font-face { font-family: 'Martinhand';
    src: url('Martinhand3.woff2'),
    format("woff2");
    font-weight: 500;
    font-style: normal;
}

body{
    margin-bottom: 20rem;
    color: var(--colors-font);
    background-color: var(--colors-bg-base);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    height: 5%;
    width: 100%;
    background-color: var(--colors-bg-header);
    padding-bottom: 2px;
    z-index: 3;
}

.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

.header-nav-item{
    height: 1.5rem;
    width: 8rem;
    list-style: none;
    text-align: center;
}

.header-nav-link{
    font-size: var(--fontsize-large);
    text-decoration: none;
    color: var(--colors-font);
    transition: 0.2s;
}

.header-nav-link:hover{
    font-size: var(--fontsize-xlarge);
}

.active-page{
    color: var(--colors-font-emphasis);
}

main{
    width: 95%;
    margin: auto;
}

.page-menu{
    position: fixed;
    bottom: 2%;
    right: 1%;
    z-index: 2;
    color: var(--colors-bg);
    background-color: var(--colors-bg-alternate);
    padding: 1rem;
}

.page-menu-h1{
    margin: 0;
}

.page-menu ol{
    margin: 0 0 0 2rem;
    padding: 0;
}

.page-menu-links{
    margin: 0 1rem 0 0.5rem;
    font-size: var(--fontsize-regular);
    color: var(--colors-font-emphasis);
    text-decoration: none;
}

.page-icon{
    margin-top: 2rem;
    max-width: 10rem;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

article{
    scroll-margin-top: 4rem;
    margin-top: 1rem;
    border-top: solid var(--colors-bg-offset) 2px;
}

.item-article:first-of-type{
    margin-top: 0;
}

article .interior-article-wrapper{
    margin: 0 0.5rem;
    padding: 0 0.5rem 0 1.5rem;
    background-color: var(--colors-bg-muted);
}

.interior-article-wrapper:last-child{
    padding-bottom: 0.25rem;
}

article h2{
    margin: 1rem -0.5rem;
    padding: 0.5rem 0 0 0;
    color: var(--colors-font-emphasis);
}

.item-image-caption{
    color: var(--colors-font-muted);
    font-size: var(--fontsize-small);
}

.code{
    color: var(--colors-font-emphasis);
    background-color: var(--colors-bg-alternate);
}

p a{
    color: var(--colors-font-links);
    text-decoration: underline var(--colors-font-emphasis);
}

.page-title-h1{
    margin-top: 3rem;
}

.messyHandwriting{
    font-family: 'Martinhand', Fallback, 'Comic Sans MS';
}

/* C# Page Specific */

#switch-image{
    height: 10rem;
}

#ienumerable-image{
    height: 1.25rem;
    max-width: 100%;
}

#ienumerable-image2{
    height: 5.25rem;
}

#linq-sql-image{
    height: 5rem;
}

#object-instantiation-image{
    height: 12rem;
}

#testability-dogs-image{
    height: 10rem;
}

#multithreading-image{
    height: 24rem;
}