.page-title-h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-left: 1rem;
}

#react-image{
    height: 4rem;
}

#npm-image{
    height: 3rem;
}

.data-management-image{
    height: 20rem;
}

.useEffect-image, .useState-image {
    height: 7rem;
}

.useState-spread-image{
    height: 5rem;
}